<div class="row" [ngClass]="rowClass">
  <div class="col-2 left-cell">
    <app-board-cell [y]="y" [x]="1"></app-board-cell>
  </div>
  <div class="col-2 normal-cell">
    <app-board-cell [y]="y" [x]="2"></app-board-cell>
  </div>
  <div class="col-2 normal-cell">
    <app-board-cell [y]="y" [x]="3"></app-board-cell>
  </div>
  <div class="col-2 normal-cell">
    <app-board-cell [y]="y" [x]="4"></app-board-cell>
  </div>
  <div class="col-2 normal-cell">
    <app-board-cell [y]="y" [x]="5"></app-board-cell>
  </div>
  <div class="col-2 right-cell">
    <app-board-cell [y]="y" [x]="6"></app-board-cell>
  </div>
</div>
