<div class="row" [ngClass]="rowClass">
  <div class="col-2 left-cell">
    <app-board-cell [y]="y" [x]="1" [$game]="$game"></app-board-cell>
  </div>
  <div class="col-2 normal-cell">
    <app-board-cell [y]="y" [x]="2" [$game]="$game"></app-board-cell>
  </div>
  <div class="col-2 normal-cell">
    <app-board-cell [y]="y" [x]="3" [$game]="$game"></app-board-cell>
  </div>
  <div class="col-2 normal-cell">
    <app-board-cell [y]="y" [x]="4" [$game]="$game"></app-board-cell>
  </div>
  <div class="col-2 normal-cell">
    <app-board-cell [y]="y" [x]="5" [$game]="$game"></app-board-cell>
  </div>
  <div class="col-2 right-cell">
    <app-board-cell [y]="y" [x]="6" [$game]="$game"></app-board-cell>
  </div>
</div>
