<div class="row">
  <div class="col-2">
    <app-board-cell [y]="y" [x]="1"></app-board-cell>
  </div>
  <div class="col-2">
    <app-board-cell [y]="y" [x]="2"></app-board-cell>
  </div>
  <div class="col-2">
    <app-board-cell [y]="y" [x]="3"></app-board-cell>
  </div>
  <div class="col-2">
    <app-board-cell [y]="y" [x]="4"></app-board-cell>
  </div>
  <div class="col-2">
    <app-board-cell [y]="y" [x]="5"></app-board-cell>
  </div>
  <div class="col-2">
    <app-board-cell [y]="y" [x]="6"></app-board-cell>
  </div>
</div>
