<div class="container">
  <div class="mt-5" *ngIf="($game | async) !== null; else loading">
    <h5>You're game code is <i>{{($game | async).code}}</i></h5>
    <p>Share you're code or <u>https://connect4.hackbox.tech/play/{{($game | async).code}}</u> with you fellow players.</p>
    <app-board [$game]="$game"></app-board>
  </div>
</div>

<ng-template #loading>
  <p class="small mt-5">We're just fetching you're game. If nothing loads, it probably means something went wrong. You could try reloading or creating another game.</p>
  <div class="sk-folding-cube" style="margin-top: 35%;">
    <div class="sk-cube1 sk-cube"></div>
    <div class="sk-cube2 sk-cube"></div>
    <div class="sk-cube4 sk-cube"></div>
    <div class="sk-cube3 sk-cube"></div>
  </div>
</ng-template>
